<section class="casinos-overviews">
        <h2 class="casinos-overviews__title">
            <span>Лучшие онлайн казино в 2021 году</span>
            <a href="#">
                <img src="img/short1-min/arrow-title.svg" alt="arrow" aria-label="arrow-link" width="40" height="40">
            </a>
        </h2>
        <ul class="casinos-overviews__list">
            <li class="casinos-overviews__item">
                <div class="casinos-overviews__item-wrap">
                    <div class="casinos-overviews__item-image">
                        <picture>
                            <source srcset="img/short1-min/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/short1-min/casino-img.jpg" width="285"
                                 height="120" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-overviews__item-cont">
                    <div class="casinos-overviews__item-title">Favbet Casino</div>
                    <div class="casinos-overviews__item-info">
                        <div class="casinos-overviews__item-star">
                            <img src="img/short1-min/star.svg" alt="start" width="13" height="12">
                            <div class="casinos-overviews__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-overviews__item-top">
                            <img src="img/short1-min/top.svg" alt="top" width="13" height="12">
                            <div class="casinos-overviews__item-top-text">Лучшие</div>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="casinos-overviews__item-bonus">
                    <div class="casinos-overviews__item-bonus-title">Deposit Bonus:</div>
                    <div class="casinos-overviews__item-bonus-subtitle">100% up tu 1600 CAD</div>
                    <div class="casinos-overviews__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
                </div>
                <div class="casinos-overviews__item-code">

                    <div class="casinos-overviews__item-copy">30 free spins for registration <span>Copied</span></div>
                    <div class="casinos-overviews__item-buttons">
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-white">Обзор</a>
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-blue">Играть</a>
                    </div>
                </div>
            </li>
            <li class="casinos-overviews__item">
                <div class="casinos-overviews__item-wrap">
                    <div class="casinos-overviews__item-image">
                        <picture>
                            <source srcset="img/short1-min/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/short1-min/casino-img.jpg" width="285"
                                 height="120" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-overviews__item-cont">
                        <div class="casinos-overviews__item-title">Favbet Casino</div>
                        <div class="casinos-overviews__item-info">
                            <div class="casinos-overviews__item-star">
                                <img src="img/short1-min/star.svg" alt="start" width="13" height="12">
                                <div class="casinos-overviews__item-star-text">4.5</div>
                            </div>
                            <div class="casinos-overviews__item-top">
                                <img src="img/short1-min/top.svg" alt="top" width="13" height="12">
                                <div class="casinos-overviews__item-top-text">Лучшие</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="casinos-overviews__item-bonus">
                    <div class="casinos-overviews__item-bonus-title">Deposit Bonus:</div>
                    <div class="casinos-overviews__item-bonus-subtitle">100% up tu 1600 CAD</div>
                    <div class="casinos-overviews__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
                </div>
                <div class="casinos-overviews__item-code">

                    <div class="casinos-overviews__item-copy">30 free spins for registration <span>Copied</span></div>
                    <div class="casinos-overviews__item-buttons">
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-white">Обзор</a>
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-blue">Играть</a>
                    </div>
                </div>
            </li>
            <li class="casinos-overviews__item">
                <div class="casinos-overviews__item-wrap">
                    <div class="casinos-overviews__item-image">
                        <picture>
                            <source srcset="img/short1-min/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/short1-min/casino-img.jpg" width="285"
                                 height="120" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-overviews__item-cont">
                        <div class="casinos-overviews__item-title">Favbet Casino</div>
                        <div class="casinos-overviews__item-info">
                            <div class="casinos-overviews__item-star">
                                <img src="img/short1-min/star.svg" alt="start" width="13" height="12">
                                <div class="casinos-overviews__item-star-text">4.5</div>
                            </div>
                            <div class="casinos-overviews__item-top">
                                <img src="img/short1-min/top.svg" alt="top" width="13" height="12">
                                <div class="casinos-overviews__item-top-text">Лучшие</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="casinos-overviews__item-bonus">
                    <div class="casinos-overviews__item-bonus-title">Deposit Bonus:</div>
                    <div class="casinos-overviews__item-bonus-subtitle">100% up tu 1600 CAD</div>
                    <div class="casinos-overviews__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
                </div>
                <div class="casinos-overviews__item-code">

                    <div class="casinos-overviews__item-copy">30 free spins for registration <span>Copied</span></div>
                    <div class="casinos-overviews__item-buttons">
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-white">Обзор</a>
                        <a href="#" class="casinos-overviews__item-btn casinos-overviews__item-btn-blue">Играть</a>
                    </div>
                </div>
            </li>

        </ul>
</section>