//transition
$transition: .3s ease;


//fonts
$font-firs-reg: 'TTFirsNeue-Regular', sans-serif;
$font-firs-semb: 'TTFirsNeue-DemiBold', sans-serif;


//colors
$white: #FFFFFF;
$blue-darken: #1F344C;
$grey-white-bg: #E7EAEE;
$green-white: rgba(77, 150, 150, 0.3);
$green: #4D9696;
$blue: #0450FF;
$blue-white: rgba(4, 80, 255, 0.2);
$blue-hover: #13399b;
$grey-hover: #c4c5dc;
$grey-code: #F7F6F9;
$grey-border: #CED1D4;


